<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 Added Successfully
<!--<table>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td><strong>Question</strong></td>-->
<!--        <td><span th:text="${question.title}"></span></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td><strong>A</strong></td>-->
<!--        <td><span th:text="${question.optionA}"></span></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td><strong>B</strong></td>-->
<!--        <td><span th:text="${question.optionB}"></span></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td><strong>C</strong></td>-->
<!--        <td><span th:text="${question.optionC}"></span></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td><strong>C</strong></td>-->
<!--        <td><span th:text="${question.ans}"></span></td>-->
<!--    </tr>-->

<!--&lt;!&ndash;    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <p>Please Go to your email and Just use information to login and activate your account Click <a href="https://gmail.com/"> G-Mail</a></p>&ndash;&gt;-->
<!--&lt;!&ndash;        <td colspan="2">&nbsp;<a th:href="@{logins}"&ndash;&gt;-->
<!--&lt;!&ndash;                                 class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;            Login&ndash;&gt;-->
<!--&lt;!&ndash;        </a></td>&ndash;&gt;-->
<!--&lt;!&ndash;    </tr>&ndash;&gt;-->
<!--    <tr>-->
<!--  <td>  <p>Add at list 10 question</p></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--    <td><a th:href="@{/question}">ADD</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--    <td>-->
<!--        <p>If you have done your required questions </p></td>-->
<!--        </tr>-->
<!--    <tr>-->
<!--    <td><a th:href="@{/quiz/myList/{authorTokenId}(authorTokenId = ${users.usersTokenId})}">SEE My Questions and try</a></td>-->
<!--    </tr>-->
<!--    </tbody>-->

<!--</table>-->
</body>
</html>