<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Social Departments Dash</title>
</head>
<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                    <img src="/images/logo.png"; alt="">
                </span>

            <div class="text logo-text">
                <span class="name">MauSS</span>
                <span class="profession">Departments Dash</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
                <i class='bx bx-user-check icon'></i>
                <p>Hello, <b>Gutu</b></p>
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a onclick="mark()">
                        <i class='bx bx-edit icon'></i>
                        <span class="text nav-text">MarkList</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a  onclick="program()">
                        <i class='bx bx-book icon' ></i>
                        <span class="text nav-text">Manage Program</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a onclick="gnrtIds()">
                        <i class='bx bx-edit-alt icon'></i>
                        <span class="text nav-text">Generate ID's</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a th:href="@{/logout}">
                    <i class='bx bx-user-circle icon' ></i>
                    <span class="text nav-text">Profile</span>
                </a>
            </li>
            <li class="">
                <a th:href="@{/logout}">
                    <i class='bx bx-log-out icon' ></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>

<section style="display:none;" id="ids" class="home">
    <div class="text">Users</div>
    <div class="filter">
        <h2>Filter: </h2>
        <select name="Role" id="">
            <option value="all">All</option>
            <option value="grade9">Grade 9</option>
            <option value="grade10">Grade 10</option>
            <option value="grade11">Grade 11</option>
            <option value="grade12">Grade 12</option>
        </select>
        <label style="margin-left: 1%; margin-right: 10px;" for="sect"> <b style="font-size: 20px;">Section:</b> </label>
        <select name="section" id="sect">
            <option value="">None</option>
            <option value="">A</option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
        </select>
        <input type="search" placeholder="Enter Id Number">
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Username</th>
            <th>Unique Id</th>
            <th>Grade</th>
            <th>Section</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users, iterStat : ${studentUser}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="''+${users.fName}+' '+ ${users.mName}+ ' ' + ${users.lName}"></td>
            <td th:text="${users.username}"></td>
            <td th:text="${users.uniqueId}"></td>
            <td th:text="'Grade 10'"></td>
            <td th:text="'A'"></td>
            <td>
                <a href="#"  style="text-decoration:none;" class="update-btn"><i class="fas fa-file alt"></i> Print ID</a>
            </td>
        </tr>

        <!-- Add more rows for other users -->
        </tbody>
    </table>
    <div style="margin: 40px;">.</div>
</section>

<section id="mrks" class="home">
    <h2 class="text" align="center">Your MarkList</h2>
    <div class="marklist-container-teach">
        <h2>Waiting Approval</h2>
        <div class="active-classes-teach">
            <div class="active-box11">
                <a href="#"><i class="fas fa-eye"></i></a>
                <p style="padding-right: 20px;">Grade: 9th</p>
                <p>Section: E</p>
                <a href="#" id="rprp" class="pending-approval">Waiting Approval</a>
                <p>Semester I</p>
            </div>
            <div class="active-box11">
                <a href="#"><i class="fas fa-eye"></i></a>
                <p style="padding-right: 20px;">Grade: 9th</p>
                <p>Section: E</p>
                <a href="#" id="rprp" class="pending-approval">Waiting Approval</a>
                <p>Semester I</p>
            </div>
            <div class="active-box11">
                <a href="#"> <i class="fas fa-eye"></i></a>
                <p style="padding-right: 20px;">Grade: 9th</p>
                <p>Section: E</p>
                <a href="#" id="rprp" class="pending-approval">Waiting Approval</a>
                <p>Semester I</p>
            </div>
            <div class="active-box11">
                <a href="#"> <i class="fas fa-eye"></i></a>
                <p style="padding-right: 20px;">Grade: 9th</p>
                <p>Section: E</p>
                <a href="#" id="rprp" class="pending-approval">Waiting Approval</a>
                <p>Semester I</p>
            </div>

        </div>
        <h2 align="left">Approved Marks</h2>
        <div class="end-classed-teach">
            <h2>2023</h2>
            <div class="end-class-year">
                <div class="active-box11">
                    <a href="#"><i class="fas fa-eye"></i></a>
                    <p style="padding-right: 20px;">Grade: 9th</p>
                    <p>Section: E</p>
                    <a href="#" id="rprp" class="request-approved">Approved</a>
                    <p>Semester I</p>
                </div>
                <div class="active-box11">
                    <a href="#"><i class="fas fa-eye"></i></a>
                    <p style="padding-right: 20px;">Grade: 9th</p>
                    <p>Section: E</p>
                    <a href="#" id="rprp" class="request-approved">Approved</a>
                    <p>Semester I</p>
                </div>
                <div class="active-box11">
                    <a href="#"><i class="fas fa-eye"></i></a>
                    <p style="padding-right: 20px;">Grade: 9th</p>
                    <p>Section: E</p>
                    <a href="#" id="rprp" class="request-approved">Approved</a>
                    <p>Semester I</p>
                </div>
            </div>
            <h2>2022</h2>
            <div class="end-class-year">
                <div class="active-box11">
                    <a href="#"><i class="fas fa-eye"></i></a>
                    <p style="padding-right: 20px;">Grade: 9th</p>
                    <p>Section: E</p>
                    <a href="#" id="rprp" class="request-approved">Approved</a>
                    <p>Semester I</p>
                </div>
                <div class="active-box11">
                    <a href="#"><i class="fas fa-eye"></i></a>
                    <p style="padding-right: 20px;">Grade: 9th</p>
                    <p>Section: E</p>
                    <a href="#" id="rprp" class="request-approved">Approved</a>
                    <p>Semester I</p>
                </div>
                <div class="active-box11">
                    <a href="#"><i class="fas fa-eye"></i></a>
                    <p style="padding-right: 20px;">Grade: 9th</p>
                    <p>Section: E</p>
                    <a href="#" id="rprp" class="request-approved">Approved</a>
                    <p>Semester I</p>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 40px;">.</div>
</section>

<section style="display:none;" id="pr" class="home">
    <h2 class="text" align="center">Manage Program</h2>
    <div style="margin: 20px;"><a onclick="schedule()" class="btn btn-view"><i class="fas fa-plus"></i> Schedule Program</a></div>
    <div id="schedule-prog" style="display: none;" class="sch-container">
        <!--        <form th:action="@{/schedules/save}" th:object="${schedule}" method="post">-->
        <!--            <div class="left-side-sched">-->
        <!--                <div>-->
        <!--                    <label for="academic">Academic:</label>-->
        <!--                    <select id="academic" name="academic" th:field="*{academic.id}">-->
        <!--                        <option th:each="academic : ${academics}" th:value="${academic.id}" th:text="${academic.name}">2024</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <label for="class">Class:</label>-->
        <!--                    <select id="class" name="class" th:field="*{aClass.id}">-->
        <!--                        <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}">Grade 9</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <label for="section">Section:</label>-->
        <!--                    <select id="section" name="section" th:field="*{section.id}">-->
        <!--                        <option th:each="section : ${sections}" th:value="${sections.id}" th:text="${sections.name}">A</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <label for="course">Course:</label>-->
        <!--                    <select id="course" name="course" th:field="*{course.id}">-->
        <!--                        <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}">Biology</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <label for="teacher">Teacher:</label>-->
        <!--                    <select id="teacher" name="teacher" th:field="*{teacher.id}">-->
        <!--                        <option th:each="teacher : ${teachers}" th:value="${teacher.id}" th:text="${teacher.name}">Mr. Naol</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="right-side-sched">-->
        <!--                <div>-->
        <!--                    <label for="schedu">Schedule Type: </label>-->
        <!--                    <select id="schedu" name="schedule" th:field="*{dayOfWeek}">-->
        <!--                        <option th:value="${day}">Regular</option>-->
        <!--                        <option th:value="${day}">Tutorial</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <label for="dayOfWeek">Day of Week:</label>-->
        <!--                    <select id="dayOfWeek" name="dayOfWeek" th:field="*{dayOfWeek}">-->
        <!--                        <option th:each="day : ${#dates.daysOfWeek}" th:value="${day}" th:text="${day}">Monday</option>-->
        <!--                    </select>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <label for="startTime">Start Time:</label>-->
        <!--                    <input type="time" id="startTime" name="startTime" th:field="*{startTime}">-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <label for="endTime">End Time:</label>-->
        <!--                    <input type="time" id="endTime" name="endTime" th:field="*{endTime}">-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <button type="submit">Submit</button>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </form>-->
    </div>
    <div style="margin: 40px;">.</div>
</section>


<!-- UNTOUCHABLE DIV -->
<div style="display: none;">
    <label for="orderNo">Material Price:</label>
    <input type="number" id="orderPrice"  required>

    <label for="orderNo">Material Discount Percent:</label>
    <input type="number" id="opdPercentage"  max="100" min="0" >

</div>
<script>
    function calculateDiscount() {
        var perc = parseFloat(document.getElementById("opdPercentage").value);
        var price = parseFloat(document.getElementById("orderPrice").value);

        if (!isNaN(perc) && !isNaN(price) && perc !== 0) {
            var val = price - (price * perc) / 100;
            document.getElementById("opdPrice").value = val;
        } else {
            document.getElementById("opdPrice").value = price;
        }
    }
    document.getElementById("opdPercentage").addEventListener("input", calculateDiscount);
    document.getElementById("orderPrice").addEventListener("input", calculateDiscount);

            function home(){
                var pr = document.getElementById("pr");
                var ids = document.getElementById("ids");
                var mrks = document.getElementById("mrks");

                pr.style.display = "none";
                ids.style.display ="none";
                mrks.style.display ="none";
              }
            function mark(){
                var pr = document.getElementById("pr");
                var ids = document.getElementById("ids");
                var mrks = document.getElementById("mrks");

                pr.style.display = "none";
                ids.style.display ="none";
                mrks.style.display ="";
            }
            function program(){
                var pr = document.getElementById("pr");
                var ids = document.getElementById("ids");
                var mrks = document.getElementById("mrks");

                pr.style.display = "";
                ids.style.display ="none";
                mrks.style.display ="none";
            }
            function gnrtIds(){
                var pr = document.getElementById("pr");
                var ids = document.getElementById("ids");
                var mrks = document.getElementById("mrks");

                pr.style.display = "none";
                ids.style.display ="";
                mrks.style.display ="none";
            }

            function createSport(){
                var cntrSprt = document.getElementById("cntrSprt");

                cntrSprt.style.display = cntrSprt.style.display
                === ""? "none" : "";
            }
            function schedule(){
              var cntrSprt = document.getElementById("schedule-prog");

              cntrSprt.style.display = cntrSprt.style.display
              === ""? "none" : "";
          }
            const body = document.querySelector('body'),
          sidebar = body.querySelector('nav'),
          toggle = body.querySelector(".toggle"),
          searchBtn = body.querySelector(".search-box"),
          modeSwitch = body.querySelector(".toggle-switch"),
          modeText = body.querySelector(".mode-text");


    toggle.addEventListener("click" , () =>{
        sidebar.classList.toggle("close");
    })

    searchBtn.addEventListener("click" , () =>{
        sidebar.classList.remove("close");
    })

    modeSwitch.addEventListener("click" , () =>{
        body.classList.toggle("dark");

        if(body.classList.contains("dark")){
            modeText.innerText = "Light mode";
        }else{
            modeText.innerText = "Dark mode";

        }
    });
</script>
</body>
</html>